<div class="container">
  <div class="row">
    <div class="form-horizontal col-md-5">
      <form class="example-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ime" [formControl]="firstName" [errorStateMatcher]="matcher">
            <mat-hint>Unesite ime korinsika</mat-hint>
            <mat-error *ngIf="firstName.hasError('required')">
              Ime je
              <strong>obavezno!</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Prezime" [formControl]="lastName" [errorStateMatcher]="matcher">
            <mat-hint>Unesite prezime korinsika</mat-hint>
            <mat-error *ngIf="lastName.hasError('required')">
              Prezime je
              <strong>obavezno!</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" [disabled]="notEntered()">Kreiraj</button>
        <hr />
      </form>
      <div *ngIf="!IsHidden">
        <div class="alert alert-success" *ngIf="onlyStatus === 'SUCCESS'; else errorResponse">
          <strong>{{ message }}</strong>
        </div>
        <ng-template #errorResponse>
          <div class="alert alert-danger">
            <strong>{{ message }}</strong>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>