<div class="container">
  <div class="row">
    <div class="form-horizontal col-md-5">
      <form class="example-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Ime" [formControl]="firstName" [errorStateMatcher]="matcher">
            <mat-hint>Unesite ime korinsika</mat-hint>
            <mat-error *ngIf="firstName.hasError('required')">
              Ime je
              <strong>obavezno!</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Prezime" [formControl]="lastName" [errorStateMatcher]="matcher">
            <mat-hint>Unesite prezime korinsika</mat-hint>
            <mat-error *ngIf="lastName.hasError('required')">
              Prezime je
              <strong>obavezno!</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Lozinka" [formControl]="password" [errorStateMatcher]="matcher" type="password">
            <mat-hint>Unesite lozinku</mat-hint>
            <mat-error *ngIf="password.hasError('required')">
              Lozinka je
              <strong>obavezna!</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="selectedLanguage"  [ngModelOptions]="{standalone: true}" placeholder="Jezik">
              <mat-option *ngFor="let l of languages" [value]="l.id">
                {{ l.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="example-full-width">
            <mat-select [(ngModel)]="selectedPackage"  [ngModelOptions]="{standalone: true}" placeholder="Servisni paket">
              <mat-option *ngFor="let p of packages" [value]="p.id">
                {{ p.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="selectedPackage != null">
          <h3>Podešavanja servisnog paketa</h3>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mesto na disku" [formControl]="mailQuota" >
              <mat-hint>Koristite K, M, G za kilo, mega, i giga bytes respektivno</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Broj poruka" [formControl]="mailMsgQuota" >
              <mat-hint>Broj poruka</mat-hint>
            </mat-form-field>
          </div>

        </div>
        <button mat-raised-button color="primary" [disabled]="notEntered()">Kreiraj</button>
        <hr />
      </form>
      <div *ngIf="!IsHidden">
        <div class="alert alert-success" *ngIf="onlyStatus === 'SUCCESS'; else errorResponse">
          <strong>{{ message }}</strong>
        </div>
        <ng-template #errorResponse>
          <div class="alert alert-danger">
            <strong>{{ message }}</strong>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>