.container{
    margin-top:80px;
    padding:30px;
}
input.ng-invalid.ng-touched{
    border: 1px solid red;
}
.btn.btn-primary.crni{

    background-color: black;
    color:white;
    margin-left:-20px;
    margin-top:10px;

}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.example-full-width {
   width: 100%;
}
  