<div id="container-navbar">
  <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a routerLink="/users" href="#">Unesi korisnika</a>
      <br>
      <a routerLink="/user-search" href="#">Pregled korisnika</a>
      <br>
      <a href="#">Azuriraj korisnika</a>
      <br>
      <a href="#">Obrisi korisnika</a>
  </div>

  <!-- Use any element to open the sidenav -->
  <span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; Meni</span>

  <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
  <div id="main">
      <div id="container">
          <router-outlet></router-outlet>
          <app-login></app-login>
      </div>
  </div>
</div>